.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}

li {

  list-style: none;

}

.bordeProductos {

  border: solid red;
  padding: 20px;
  margin: 20px;
  list-style: none;

}

.box {

  display: flex;
  flex-wrap: wrap;

}

.wrapper {

  display: grid;
  grid-template-columns: repeat(3, 1fr);


}

.wrapperCarrito {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: top;


}

.row {
  display: flex;
  flex-direction: column;
  padding: 10%
}

.separarBoton {

  margin-top: 30px;

}

.centrarLoading {

  padding-top: 20%;
  text-align: -webkit-center;

}

.centrarCarrito {

  padding-top: 50px;
  text-align: left;

}

.pequeña {

  width: 100px;
  height: 100px;
}

.div {

  width: 500px;
  padding: 50px 0;
  margin: 0;
}

.divAbsoluto {

  position: absolute;
  left: 800px;
  top: 90px;
  padding: 200px;
  z-index: 1001;

}

label {

  display: inline-block;
  width: 80px;
}


.fondoTrasparente {

  position: absolute;
  background-color: rgba(0, 0, 0, 0.348);
  width: 100%;
  height: 100%;
  z-index: 1000;

}

.centrarFormulario {

 
  
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: center;
    border-radius: 20px;

  

}